<div id="500">
  <div style="max-width: 650px;" class="container text-center pt-5 pb-5">
    <h1 class="display-1 mb-3"><%= __('500.title') %></h1>
    <hr/>
    <h2><%= __('500.subtitle') %></h2>
    <div>
      <p><%= __('500.body') %><a href="/contact"><%= __('contact') %></a>.</p>
    </div>
  </div>
</div>
