<div id="contact" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Contattaci</h1>
    <div style="max-width:  650px;" class="mx-auto" v-if="!cloudSuccess">
      <p class="text-center">Hai una domanda? Inviaci un messaggio e ti risponderemo il prima possibile.</p>
      <hr/>
      <ajax-form action="deliverContactFormMessage" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()">
        <div class="form-group">
          <label for="full-name">Nome</label>
          <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Inserisci il tuo nome.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Email</label>
          <input class="form-control" id="email-address" name="email-address" type="email"  :class="[formErrors.email ? 'is-invalid' : '']" v-model.trim="formData.email" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.email">Inserisci un indirizzo email valido.</div>
        </div>
        <div class="form-group">
          <label for="message">Messaggio</label>
          <textarea class="form-control" id="message" name="message" :class="[formErrors.message ? 'is-invalid' : '']" v-model.trim="formData.message" placeholder="What is the difference between the &quot;Individual&quot; plan and the &quot;Professional&quot; plan?" autocomplete="none"></textarea>
          <div class="invalid-feedback" v-if="formErrors.message">Il messaggio non può essere vuoto.</div>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Invia</ajax-button>
        </div>
      </ajax-form>
    </div>
    <div style="max-width: 450px;" class="mx-auto text-center" v-else>
      <p class="text-center">Grazie!</p>
      <hr/>
      <p>Abbiamo ricevuto il tuo messaggio. Cercheremo di rispondere il prima possibile.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
