<div id="attendances">

  <table class="admin-list">
    <thead>
      <tr class="text-center">
        <th class="border">ID</th>
        <th class="border">
          <%- __('attendanceFee.title'); %>
        </th>
        <th>
          Creato da
        </th>
        <th class="border">
          <%- __('attendanceFee.amount'); %>
        </th>
        <th class="border">
          <%- __('sendAttendanceFeeAt'); %>
        </th>
        <th class="border">
          <%- __('attendanceFee.sent'); %>
        </th>
        <th class="border">
          Link d'invito
        </th>
        <th class="border">
          <%- __('members'); %>
        </th>
        <th class="border">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="g in attendances" :key="g.id" class="higlight-row text-center">
        <td class="border">
            {{ g.id }}
        </td>
        <td class="border">
          {{ g.title }}
        </td>
        <td class="border">
          <a :href="'/admin/user/'+g.owner.id">{{ g.owner.fullName }}</a>
        </td>
        <td class="border">
          {{ g.attendanceFee }} VAL
        </td>
        <td class="border">
          <show-date :show-time="true" :at="g.sendAttendanceFeeAt"></show-date>
        </td>
        <td class="border">
          <i class="fa fa-check text-success" v-if="g.isAttendanceFeeSent"></i>
        </td>
        <td class="border"> 
          {{ baseUrl }}/1at{{ g.token }}
          <clipboard-text title="Copia link d'invito" :content="baseUrl+'/1at'+g.token" />
        </td>
        <td class="border">
          {{ g.attendees ? g.attendees.length : '-' }}
        </td>
        <td class="border">
          <a :href="'/admin/attendance/'+g.id"
            class="btn btn-outline-secondary fa fa-list"
            :title="'Dettagli gruppo '+g.title">
          </a>
          <button 
            class="btn btn-outline-danger fa fa-trash"
            title="Elimina gruppo" 
            @click="deleteAttendance(g.id)">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="col-12 col-md-2 offset-md-5 mt-4 pt-4">
    <h4><%= __('attendanceFee.new'); %></h4>
    
    <ajax-form action="createAttendance" :syncing.sync="syncing" 
        :cloud-error.sync="cloudError" :form-data="formData" 
        :form-rules="formRules" :form-errors.sync="formErrors" 
        @submitted="submittedForm()">
          
      <div class="form-group mt-3">
        <label for="attendanceTitle"><%= __('attendanceFee.title') %></label>
        <input class="form-control"
          :class="[formErrors.attendanceTitle ? 'is-invalid' : '']" 
          id="attendanceTitle" name="attendanceTitle" type="text" v-model="formData.attendanceTitle" 
          placeholder="" focus-first />
      </div>
      
      <div class="form-group mt-3">
        <label for="attendanceFee"><%= __('attendanceFee.amount') %></label>
        <div class="input-group">
          <input class="form-control" id="attendanceFee" name="attendanceFee" type="number" 
            step="0.01" min="0" 
            pattern="([0-9]{1,3}).([0-9]{1,3})"  
            :class="[formErrors.attendanceFee ? 'is-invalid' : '']" 
            v-model.trim="formData.attendanceFee"
            placeholder="000.00" />
          <span class="input-group-text">VAL</span>
        </div>
      </div>
      
      <div class="form-group mt-3">
        <label for="sendAttendanceFeeAt"><%= __('sendAttendanceFeeAt'); %></label>
        <div class="input-group">
          <input class="form-control" id="sendAttendanceFeeAt" name="sendAttendanceFeeAt" type="date" 
            :class="[formErrors.sendAttendanceFeeAt ? 'is-invalid' : '']" 
            v-model.trim="formData.sendAttendanceFeeAt" />
          <input class="form-control" id="sendAttendanceFeeAtTime" name="sendAttendanceFeeAtTime" type="time" 
            :class="[formErrors.sendAttendanceFeeAtTime ? 'is-invalid' : '']" 
            v-model.trim="formData.sendAttendanceFeeAtTime" value="00:00:00" />
        </div>
      </div>
                  
      <ajax-button type="submit" :syncing="syncing" class="btn btn-dark mt-3">
        <%= __('save'); %>
      </ajax-button>
    </ajax-form>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
